.example-header-image {
    // background-image: url('https://developer.accuweather.com/sites/default/files/03-s.png');
    background-size: cover;
    width: 60px;
    border-radius: 0%;
  }

// .example-card {
//     max-width: 400px;
//     margin-bottom: 8px;
//   }